nav.container {
  display: flex;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  padding: 0 1.5em;
}
nav .logo {
  font-family: "Bungee", sans-serif;
  font-size: 1.25em;
}
nav button {
  box-shadow: none;
}
nav i {
  color: #D2C38E;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.write-tweet p {
  margin: 0;
}
.write-tweet i {
  margin-top: 0.25em;
}

@media screen and (min-width: 1024px) {
  nav .logo {
    font-size: 2em;
  }
  .write-tweet {
    font-size: 1.25em;
  }
}
